<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>ConnectXcellence</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="../static/assets/img/favicon.png" rel="icon" />
    <link
      href="../static/assets/img/apple-touch-icon.png"
      rel="apple-touch-icon"
    />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="../static/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="../static/assets/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="../static/assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link
      href="../static/assets/vendor/remixicon/remixicon.css"
      rel="stylesheet"
    />
    <link
      href="../static/assets/vendor/swiper/swiper-bundle.min.css"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link href="../static/assets/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center">
        <h1 class="logo me-auto"><a href="index.html">ConnectXcellence</a></h1>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
            <li><a class="nav-link scrollto" href="#about">About</a></li>
            <li><a class="nav-link scrollto" href="#services">Services</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->

    <section id="hero" class="d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div
            class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <h1>Global Connectivity Framework</h1>
            <h2>
              Analysis of Multi Node Servers and Load Balancing using Bellman
              Ford
            </h2>
            <div class="d-flex justify-content-center justify-content-lg-start">
              <a href="#about" class="btn-get-started scrollto">Get Started</a>
            </div>
          </div>
          <div
            class="col-lg-6 order-1 order-lg-2 hero-img"
            data-aos="zoom-in"
            data-aos-delay="200"
          >
            <img
              src="../static/assets/img/hero-img.png"
              class="img-fluid animated"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>About</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <ul>
              <li>
                <i class="ri-check-double-line"></i>Analyzing and optimizing
                network performance with a focus on latency and load parameters
              </li>
              <li>
                <i class="ri-check-double-line"></i> User selects a region, and
                node details are fetched from a text file
              </li>
              <li>
                <i class="ri-check-double-line"></i> Latency for each node is
                calculated using the distance formula from the node to the
                midpoint, assuming the speed of light as the transmission speed.
              </li>
              <li>
                <i class="ri-check-double-line"></i> Graphs are plotted for
                latency versus node ID and latencies in ascending order
              </li>
              <li>
                <i class="ri-check-double-line"></i>Nodes are clustered based on
                their positions relative to the midpoint, and bar charts are
                plotted for each cluster.
              </li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <ul>
              <li>
                <i class="ri-check-double-line"></i> Load part involves
                assigning random lower and upper limits for the load of each
                node.
              </li>
              <li>
                <i class="ri-check-double-line"></i> Graphs are plotted for load
                versus node ID, load ratios are calculated, and normalization is
                done.
              </li>
              <li>
                <i class="ri-check-double-line"></i> When a load exceeds a
                threshold, the extra load is trimmed and given to the node with
                the minimum load.
              </li>
              <li>
                <i class="ri-check-double-line"></i>Finally, a multi-bar chart
                is plotted for latency and load for each node in the selected
                region.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- End About Us Section -->

    <section id="why-us" class="why-us section-bg">
      <div class="container-fluid" data-aos="fade-up">
        <div class="row">
          <div
            class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch order-2 order-lg-1"
          >
            <div class="content">
              <h3>
                <strong>Different Regions</strong> considered for the
                connectivity framework
              </h3>
            </div>

            <div class="accordion-list">
              <ul>
                <li>
                  <a
                    data-bs-toggle="collapse"
                    class="collapse"
                    data-bs-target="#accordion-list-1"
                    ><span>01</span> BT Asia Pacific Region
                    <i class="bx bx-chevron-down icon-show"></i
                    ><i class="bx bx-chevron-up icon-close"></i
                  ></a>
                  <div
                    id="accordion-list-1"
                    class="collapse show"
                    data-bs-parent=".accordion-list"
                  >
                    <p>
                      This region encompasses nodes from diverse Asian and
                      Oceanic countries, including Indonesia, Australia,
                      Singapore, Malaysia, and more. It provides detailed
                      information about each node's country, longitude, and
                      latitude, forming the foundation for our analysis.
                    </p>
                  </div>
                </li>

                <li>
                  <a
                    data-bs-toggle="collapse"
                    data-bs-target="#accordion-list-2"
                    class="collapsed"
                    ><span>02</span> Quest Region
                    <i class="bx bx-chevron-down icon-show"></i
                    ><i class="bx bx-chevron-up icon-close"></i
                  ></a>
                  <div
                    id="accordion-list-2"
                    class="collapse"
                    data-bs-parent=".accordion-list"
                  >
                    <p>
                      The Quest region defines nodes based on data obtained from
                      an external source. It includes nodes within the Quest
                      network. Information such as country, longitude, and
                      latitude is used to establish the nodes within this
                      network
                    </p>
                  </div>
                </li>

                <li>
                  <a
                    data-bs-toggle="collapse"
                    data-bs-target="#accordion-list-3"
                    class="collapsed"
                    ><span>03</span> TATA region
                    <i class="bx bx-chevron-down icon-show"></i
                    ><i class="bx bx-chevron-up icon-close"></i
                  ></a>
                  <div
                    id="accordion-list-3"
                    class="collapse"
                    data-bs-parent=".accordion-list"
                  >
                    <p>
                      The TATA region defines nodes based on data from an
                      external source, representing the TATA network. The
                      dataset specifies crucial details, including the country,
                      longitude, and latitude of nodes within this network.
                    </p>
                  </div>
                </li>

                <li>
                  <a
                    data-bs-toggle="collapse"
                    data-bs-target="#accordion-list-3"
                    class="collapsed"
                    ><span>04</span> ERNET region
                    <i class="bx bx-chevron-down icon-show"></i
                    ><i class="bx bx-chevron-up icon-close"></i
                  ></a>
                  <div
                    id="accordion-list-3"
                    class="collapse"
                    data-bs-parent=".accordion-list"
                  >
                    <p>
                      Focused on India, the ERNET region incorporates nodes from
                      cities like Pune, Indore, Trivandrum, Mumbai, and more. It
                      provides comprehensive insights into each node's country,
                      longitude, and latitude, aiding our analysis of this
                      region.
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div
            class="col-lg-5 align-items-stretch order-1 order-lg-2 img"
            style="background-image: url('../static/assets/img/why-us.png')"
            data-aos="zoom-in"
            data-aos-delay="150"
          >
            &nbsp;
          </div>
        </div>
      </div>
    </section>

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div
            class="col-lg-6 d-flex align-items-center"
            data-aos="fade-right"
            data-aos-delay="100"
          >
            <img
              src="../static/assets/imG/12_LatencyAndLoad.png"
              class="img-fluid"
              alt=""
            />
          </div>
          <div
            class="col-lg-6 pt-4 pt-lg-0 content"
            data-aos="fade-left"
            data-aos-delay="100"
          >
            <h3>Combined Analysis of Latency and Load</h3>
            <p class="fst-italic">
              The multi-bar chart combines latency and load ratio data for each
              node. Latency is represented by one set of bars, while load ratios
              are represented by another set. This combination allows for a
              comprehensive assessment of network performance. The chart is
              structured with nodes on the X-axis and latency and load ratio on
              the Y-axis. Latency and load ratios are visually represented for
              each node, making it easy to identify nodes with latency or load
              issues. This multi-bar chart provides a holistic view of network
              performance, highlighting nodes that may require optimization or
              load balancing. It serves as a valuable tool for network
              administrators and engineers to make informed decisions about
              network management and improvements.
            </p>

            <div class="skills-content">
              <div class="progress">
                <span class="skill">Threshold Value<i class="val">70%</i></span>
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="70"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill"
                  >Quadrant 1: Node distribution<i class="val">15%</i></span
                >
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="15"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill"
                  >Quadrant 2: Node distribution <i class="val">15%</i></span
                >
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="15"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill"
                  >Quadrant 3: Node distribution<i class="val">55%</i></span
                >
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="55"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill"
                  >Quadrant 4: Node distribution<i class="val">15%</i></span
                >
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="15"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Applications</h2>
        </div>

        <div class="row">
          <div
            class="col-xl-3 col-md-6 d-flex align-items-stretch"
            data-aos="zoom-in"
            data-aos-delay="100"
          >
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">Network optimization</a></h4>
              <p>
                The framework can be applied to optimize computer networks, data
                centers, or cloud infrastructures. By analyzing latency and load
                data, network administrators can identify bottlenecks and make
                necessary adjustments to improve overall network performance.
              </p>
            </div>
          </div>

          <div
            class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
            data-aos="zoom-in"
            data-aos-delay="200"
          >
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Content Delivery NetworkS (CDNs)</a></h4>
              <p>
                CDNs can use this framework to strategically place content
                servers based on network latency and load. This ensures faster
                content delivery to end-users and a more efficient use of
                resources.
              </p>
            </div>
          </div>

          <div
            class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
            data-aos="zoom-in"
            data-aos-delay="300"
          >
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Traffic Management</a></h4>
              <p>
                Traffic management systems can benefit from this framework by
                optimizing routing decisions. By considering both latency and
                load, traffic can be directed through paths that minimize delays
                and prevent network congestion.
              </p>
            </div>
          </div>

          <div
            class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
            data-aos="zoom-in"
            data-aos-delay="400"
          >
            <div class="icon-box">
              <div class="icon"><i class="bx bx-layer"></i></div>
              <h4><a href="">Gaming networks</a></h4>
              <p>
                Online gaming networks require low-latency connections. This
                framework can help gaming platforms allocate resources to
                players in a way that minimizes latency, enhancing the gaming
                experience.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Services Section -->

    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">
        <form action="/visualize" method="POST">
          <h1>Let's visualise</h1>
          <label for="region">Select the region of your choice</label>
          <select
            class="form-select"
            aria-label="Default select example"
            name="region"
          >
            <option selected>Select the Region of your choice</option>
            <option value="1">Region 1: BT Asia-Pacific region</option>
            <option value="2">Region 2: Quest region</option>
            <option value="3">Region 3: TATA region</option>
            <option value="4">Region 4: ERNET region</option>
            <option value="5">Region 5: PERN region</option>
          </select>
          <button type="submit" class="btn btn-primary">Visualize</button>
        </form>
      </div>
    </section>

    <!-- ======= Results Section ======= -->
    <!-- Use for loop to show each image-->
    {% if graph_images %}
    <section id="results" class="results" >
      <div class="container" data-aos="fade-up" >
        <div class="section-title">
          <h2>Results</h2>
        </div>
        {% for i in graph_images %}
        <div class="row" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
          <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
            <img src="{{ i }}" class="img-fluid" alt="" />
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
    {% endif %}

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 footer-contact">
              <h3>CONNECTXCELLENCE</h3>
              <p>
                <strong>Phone:</strong> +91 5589548855<br />
                <strong>Email:</strong> info@gmail.com<br />
              </p>
            </div>

            <div class="col-lg-3 col-md-6 footer-links mx-5">
              <h4>Useful Links</h4>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">Home</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">About us</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">Services</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Terms of service</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Privacy policy</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Our Social Networks</h4>

              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"
                  ><i class="bx bxl-instagram"></i
                ></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <div id="preloader"></div>
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="../static/assets/vendor/aos/aos.js"></script>
    <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../static/assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="../static/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="../static/assets/js/main.js"></script>
  </body>
</html>
